@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin response{
    @media screen and (max-width: 430px){
        @content;
    }
}

@mixin mobile{
    @media screen and (min-width: 576px){
        @content;
    }
}

@mixin mobile-2{
    @media screen and (max-width: 576px){
        @content;
    }
}

@mixin tablets{
    @media screen and (min-width: 767px){
        @content;
    }
}

@mixin pc{
    @media screen and (min-width: 992px){
        @content;
    }
}
